@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('img/1660095847_32-sportishka-com-p-sport-estetika-sport-krasivo-foto-43.jpg');
    font-family: "Roboto", serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.wrapper-gray {
    background-color: rgb(51, 51, 51);
    margin: 0 auto;
    width: 100%;
    color: white;
}

.footer {
    height: 121px;
}

.header {
    display: flex;
    align-items: center;
    height: 121px;
}

.header-inner-wrapper {
    display: flex;
    justify-content: space-between;
    background-image: none;
}

.wrapper-logo {
    width: 270px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wrapper-logo::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 4px;
    top: 0;
    right: 0;
    background-color: #96ff00;
}

.wrapper-logo::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 4px;
    top: 33px;
    right: -35px;
    transform: rotate(90deg);
    background-color: #96ff00;
}

.logo {
    font-size: 48px;
    font-weight: 700;
    color: white;
}

.X {
    display: inline-block;
    color: #96ff00;
}

.menu {
    display: flex;
    align-items: center;
    color: white;

}
.nav {

}


.nav-list {
    display: flex;
    align-items: center;
    line-height: 20px;
}

.nav-item a :hover{
    font-size: 20px;
    font-weight: bold;
    border-bottom-color:rgba(0, 0, 0, 0) ;
    background-color: white;
    color:#96ff00;
}

.nav-item {
}

.harder {
    margin-top: 50px;
    margin-left: 30px;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.more {
    margin-left: 164px;
    font-size: 48px;
    font-weight: bold;
    color: #96ff00;
}

.form {
    font-size: 16px;
    height: 446px;
    line-height: 26px;
    margin: 138px -21px 59px 591px;
}

.registration {
    display: flex;
    flex-direction: column;

    color: white;
    flex-wrap: wrap;
    line-height: 26px;
    margin-left: -15px;
    width: 585px;
    padding: 15px;

}

.input {
    display: block;
    background-color: inherit;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: start;
}

.name-input {
    outline: none;
    margin-bottom: 15px;
    padding: 10px 12px;
    width: 100%;
    display: block;
    border: 3px solid #000;
    background-color: rgb(255, 255, 255);
}

.name-input::placeholder {
    color: #000;
    opacity: 0.7;
}

.email-input {
    outline: none;
    margin-bottom: 15px;
    padding: 10px 12px;
    width: 100%;
    display: block;
    border: 3px solid #000;
    background-color: rgb(255, 255, 255);
}

.email-input::placeholder {
    color: #000;
    opacity: 0.7;
}

.message-input{
    background-color: rgb(255, 255, 255);
    color: #000;
    height: 128px;
    padding: 10px 12px;
    width: 100%;
    border: 3px solid #000;
    outline: none;
}

.message-input::placeholder {
    position: absolute;
    color: #000;
    opacity: 0.7;
}

.nav-link {
    color: #ffffff;
    align-self: flex-start;
    cursor: pointer;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding: 10px 30px;
    position: relative;
    text-align: center;
}


.nav-link:hover {
    color: #96ff00;
}

.nav-link:active {
    color: #96ff00;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
    text-align: center;
    border: none;
    outline: none;
}

.button-form {
    padding: 10px 30px;
    background-color: #96ff00;
    color: #1a1a1a;
    width: 214px;

    margin-top: 15px;
}
