@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/1660095847_32-sportishka-com-p-sport-estetika-sport-krasivo-foto-43.jpg");
    font-family: "Roboto";
}

a {
   text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgb(51, 51, 51);
    margin: 0 auto;
    width: 100%;
    color: white;
    height: 121px;
}

.header-inner-wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper-logo {
    width: 270px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wrapper-logo::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 4px;
    top: 0;
    right: 0;
    background-color: #96ff00;
}

.wrapper-logo::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 4px;
    top: 33px;
    right: -35px;
    transform: rotate(90deg);
    background-color: #96ff00;
}

.logo {
    font-size: 48px;
    font-weight: 700;
    color: white;
}

.X {
    display: inline-block;
    color: #96ff00;
}

.menu {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}
